<%- include('partials/header') -%>
<nav class="navbar navbar-expand-md d-flex  mb-3 navbar-primary bg-light">
    <div class="container-fluid">
    <a class="navbar-brand px-3 ">Covid21India</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-center d-flex justify-content-center">
        <img src="/images/hamburger2.png" class="hamburger" >
      </span>
    </button>
   <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ms-auto ">
      <li class="nav-item px-3"><a class="nav-link " href="/">Home</a></li>
        <li class="nav-item px-3"><a class="nav-link" href="/searchDonors">Search Donors</a></li>
        <li class="nav-item px-3"><a class="nav-link" href="/becomeDonor">Become Donor</a></li>
        <li class="nav-item px-3 border border-primary"><a class="nav-link" href="/resources">Resources</a></li>
    </ul>
  </div>
</div>
</nav>


<section class="Important-links">
  <h1 class="text-center mb-3 py-1 bg-light">Important <span class="text-danger">Resources</span></h1>
  <div class="container">
     <ul class="list-group text-decoration-none fs-5 list-style:1 ">
  <li class="list-group-item d-flex justify-content-between align-items-center">
   <a href="https://coviddelhi.com/" target="_blank" class="text-decoration-none">Check the availability of beds in Delhi (coviddelhi.com) </a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
   <a href="http://corona.delhi.gov.in/" target="_blank" class="text-decoration-none">corona.delhi.gov.in </a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
   <a href="https://covid19-twitter.in/" target="_blank"class="text-decoration-none">Search latest Covid tweets according to your need and area (covid19-twitter.in) </a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
   <a href="https://external.sprinklr.com/insights/explorer/dashboard/601b9e214c7a6b689d76f493/tab/1?id=DASHBOARD_601b9e214c7a6b689d76f493" target="_blank" class="text-decoration-none">Lates tweets and infomation related to beds, injections etc according to your area. (external.sprinklr.com) </a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
   <a href="https://www.ilbs.in/plasma/" target="_blank" class="text-decoration-none">Delhi Plasma Bank </a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
   <a href="http://www.umeed.live/" target="_blank" class="text-decoration-none">Plasma and hospital repositories. (umeed.live) </a>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
   <a href="https://friends2support.org/" target="_blank" class="text-decoration-none">Friends2support Organisation (friends2support.org) </a>
  </li>
  
</ul>

  </div>
</section>

<%- include('partials/footer')  -%>
